.nav > a {
  margin: 5px 0;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 0 1px 3px 1px black;
  border-radius: 2px;
  background-color: var(--clr-theme);
  transition: transform 100ms ease-out;
}

.nav > a:hover {
  transform: translatex(5px);
}

@media (max-width: 600px) {
}
