.footer {
  margin: 25px auto;
  margin-top: auto;
}

.footer > a {
  display: inline-block;
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-theme);
  border-radius: 100px;
}
