:root {
  --ff-body: 'Roboto', sans-serif;

  --fs-x-large: 48px;
  --fs-header: 32px;
  --fs-large: 24px;
  --fs-char-body: 20px;
  --fs-nav-body: 18px;
  --fs-product-title: 16px;
  --fs-product-desc: 14px;
  
  --clr-theme: #C4C4C4;
  --clr-anti-theme: #FFFFFF;
  --clr-text: #000000;
}